use nix
source .venv/bin/activate
unset PS1
watch_file .gitconfig

# Add /bin to path
PATH_add bin

# Set gitget root
export GITGET_ROOT=$PWD

# Set daynotes root
export DAYNOTES_ROOT=$PWD/notes/days
