.vim/coc-settings.json
.direnv
.venv
.data
.synapsedata

beeper-desktop/
beeper-services/
chatwoot/
issues/
libsignal-client/
libsignal-service-java/
linkedin-matrix/
linkedin-messaging-api/
matrix-react-sdk/
matrix-vacation-responder/
maubot/
mautrix/
mx-puppet-monorepo/
okhttp/
signal/
signald/
stack/
standupbot/
synapse/
