.vim/coc-settings.json
.direnv
.venv
.data
.signaldata
.synapsedata
*.tmp

android-sms/
beeper-desktop/
beeper-services/
bridge-cd-tool/
chatwoot/
cloud-mac-stack/
complement
donutbot/
dummybridge/
element-web/
etl/
external-custom-ci/
heisenbridge/
hungryserv/
issues/
libsignal-client/
libsignal-service-java/
linkedin-matrix/
linkedin-messaging-api/
matrix-js-sdk/
matrix-media-repo/
matrix-react-sdk/
matrix-spec-proposals/
matrix-vacation-responder/
maubot/
mautrix/
mx-puppet-monorepo/
proxyserv/
rageshake/
roomserv/
signal/
signald-go/
signald/
stack/
standupbot/
synapse/
sytest/
whatsmeow/
yeetserv/
