.vim/coc-settings.json
.direnv
.venv
.data
.signaldata
.synapsedata
*.tmp

android-sms/
beeper-desktop/
beeper-services/
chatwoot/
cloud-mac-stack/
discord/
donutbot/
element-web/
external-custom-ci/
issues/
libsignal-client/
libsignal-service-java/
linkedin-matrix/
linkedin-messaging-api/
matrix-js-sdk/
matrix-media-repo/
matrix-react-sdk/
matrix-vacation-responder/
maubot/
mautrix/
mx-puppet-monorepo/
okhttp/
rageshake/
signal/
signald/
signald-go/
stack/
standupbot/
synapse/
whatsmeow/
yeetserv/
